.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 455px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Public Sans;
  }
  .first-div .logo {
    height: 1.5rem;
    width: 10rem;
  }
  .first-div .logo img {
    width: 100%;
    height: 100%;
  }
  .open,
  .close {
    width: 1.5rem;
    height: 1.2rem;
  }
  .open img,
  .close img {
    object-fit: cover;
    width: 90%;
    height: 90%;
  }
  .none,
  .close,
  #show:checked ~ .open {
    display: none;
  }
  #show:checked ~ .close {
    display: inline-block;
  }
  .first-div {
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #ffffff;
    position: fixed;
    width: 100%;
  }
  .first-div .heading {
    position: absolute;
    top: 5.7rem;
    /* height: 40vh; */
    height: 20rem;
    width: 80%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(200%);
    transition: all 0.3s ease;
    padding: 8% 0%;
    border-radius: 0.6rem;
    background: #ffffff;
  }
  #show:checked ~ .heading {
    transform: translateX(0%);
    animation: show 1s forwards;
  }
  @keyframes show {
    100% {
      -webkit-box-shadow: -5px 51px 112px 63px rgba(0, 0, 0, 0.41);
      -moz-box-shadow: -5px 51px 112px 63px rgba(0, 0, 0, 0.41);
      box-shadow: -5px 7rem 112px 63px rgba(0, 0, 0, 0.41),
        0rem -1rem 3rem rgba(0, 0, 0, 0.41);
    }
  }
  .first-div .heading .nav {
    height: 4rem;
    font-size: 1.4rem;
    width: 50%;
    text-align: center;
    justify-content: center;
    border-radius: 0.7rem;
    padding: 12px 0 0 0;
    z-index: -100;
    transition: all 0.5s;
  }
  .first-div .heading .nav a {
    margin: auto;
    text-decoration: none;
    align-self: center;
    color: rgb(0, 0, 0);
    width: 10rem;
    padding: 1rem 2rem;
  }
  .next-generation {
    height: 100dvh;
    display: flex;
    flex-direction: column;
  }
  .first {
    order: 2;
  }
  .second {
    height: 20rem;
    order: 1;
    background-image: url("./images/image-mockups.png"),
      url("./images/bg-intro-mobile.svg");
    background-position: top -4.8rem left 50%, top -2rem left;
    background-size: 90% 130%, 110% 118%;
    height: 26.5rem;
    background-size: 95% 120%, 100% 129%;
    background-repeat: no-repeat, no-repeat;
    z-index: -200;
  }
  .next-generation .first {
    width: 100%;
    height: 19rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  .next-generation .first h1 {
    font-weight: 100;
    font-size: 2.4rem;
    color: #2e304c;
    max-width: 85%;
    margin: auto;
  }
  .next-generation .first p {
    width: 85%;
    margin: 1rem auto;
    color: #a6a5aa;
    line-height: 1.5rem;
  }
  .next-generation .first button,
  .level-two .first-div-last {
    font-weight: 600;
    font-size: 1.1rem;
    width: 11.5rem;
    text-align: center;
    height: 2.5rem;
    border-radius: 2rem;
    border: none;
    color: white;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%) 50%,
      hsl(192, 70%, 51%)
    );
    margin: 1.5rem auto 1rem auto;
  }
  .level-two .first-div-last {
    margin: 1.5rem auto;
  }
  .full-width-easybank,
  .full-width-articles {
    width: 100%;
    padding: 4rem 0 5rem 0;
    background: #f4f5f7;
  }
  .easybank,
  .first-easy,
  .qualities,
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .first-easy .heading1 {
    width: 60%;
    margin: auto;
    font-weight: 400;
    font-size: 2rem;
  }
  .first-easy .para1 {
    width: 90%;
    font-size: 1rem;
    margin: 1rem auto 3rem auto;
    line-height: 1.5rem;
  }
  .qualities .details {
    margin-top: 1rem;
  }
  .qualities .details .small-heading,
  .qualities .details .details-para {
    width: 90%;
    margin: 1rem auto;
  }
  .qualities .details .small-heading {
    font-size: 1.4rem;
  }
  .full-width-articles {
    background: #f1efef;
  }
  .lastArticles {
    display: flex;
    flex-direction: column;
  }
  .lastArticles .heading1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto 2rem auto;
  }
  .article-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .image-container img {
    width: 100%;
    height: 17rem;
  }
  .news {
    margin: 0 auto 2.2rem auto;
    border-radius: 0.6rem;
    overflow: hidden;
    background: #ffffff;
  }
  .news .article-text {
    width: 86%;
    margin: auto;
    padding: 1rem 0rem;
  }
  .article-text .article-sideHeading {
    margin: 0.8rem auto;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .article-matter {
    margin-bottom: 2rem;
  }
  .article-owner {
    font-size: 0.9rem;
  }

  .fullwidth {
    background-color: #2e304c;
  }
  .footer {
    padding: 4rem 0rem;
  }
  .first-container img {
    height: 1.5rem;
  }
  .social-media {
    width: 60%;
    margin: 1.5rem auto;
  }
  .social-media a {
    height: 1.3rem;
    margin: 0.2rem 0.5rem;
  }
  .second-container .link,
  .level-two {
    display: flex;
    flex-direction: column;
  }
  .second-container .link a {
    text-decoration: none;
    color: white;
    margin: 0.5rem auto;
  }
  .grey,
  .details-para,
  .article-text .article-matter,
  .article-owner,
  .para1 {
    color: hsl(233, 8%, 62%);
  }
  .level-two p {
    color: rgb(189, 177, 177);
  }
}

:root {
  --primary-dark-blue: hsl(233, 26%, 24%);
  --primary-lime-green: hsl(136, 65%, 51%);
  --primary-bright-cyan: hsl(192, 70%, 51%);

  --neutral-grayish-blue: hsl(233, 8%, 62%);
  --neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --neutral-very-light-gray: hsl(0, 0%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
}
@media (min-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Public Sans;
  }
  body {
    height: 100vh;
    width: 100vw;
  }
  #show,
  .open,
  .close {
    display: none;
  }
  .nav {
    text-align: center;
  }
  .first-div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    background-color: var(--neutral-white);
    padding: 1rem 0;
  }
  .dropdown {
    display: flex;
  }
  .heading .nav a {
    color: var(--neutral-grayish-blue);
    text-decoration: none;
    font-size: 1.3rem;
  }
  .nav {
    position: relative;
  }
  .heading .nav a::after {
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 3rem;
    width: 6rem;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%) 50%,
      hsl(192, 70%, 51%)
    );
    height: 0.5rem;
    width: 0%;
    border-radius: 0.5rem;
    transition: all 0.4s;
  }
  .heading .nav {
    width: 7rem;
    font-size: 1.4rem;
  }
  .first-div-last {
    display: inline-flex;
    align-items: center;
    height: 3.3rem;
    width: 12rem;
    border-radius: 45px;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%) 50%,
      hsl(192, 70%, 51%)
    );
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
    border: none;
  }
  .first-div .logo {
    margin: auto 0px;
  }
  .logo img {
    width: 14rem;
  }
  .first-div-last,
  .next-generation-last {
    display: inline-block;
  }
  .next-generation {
    background-color: var(--neutral-very-light-gray);
    margin: auto 0px auto auto;
    display: flex;
    height: 70%;
    margin: auto;
  }
  .next-generation .first {
    height: 100%;
    font-size: 1rem;
    flex-basis: 40%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .first-div-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 33.2em;
    margin: 0 0 0 auto;
  }
  .next-generation .none {
    background-color: green;
    border: 2px solid rgb(20, 226, 233);
    display: flex;
    flex-grow: 1;
    flex-shrink: 9;
  }
  .next-generation .first h1 {
    font-weight: 100;
    font-size: 4rem;
    color: #2e304c;
  }
  .next-generation .first p {
    color: #a6a5aa;
    font-size: 1.3rem;
    margin: 2.2rem 0;
  }
  .next-generation .second {
    position: relative;
    flex-basis: 60%;
    flex-grow: 1;
  }
  .next-generation .background1 {
    position: absolute;
    background-image: url("images/image-mockups.png"),
      url("./images/bg-intro-desktop.svg");
    background-position: top -8rem right -8rem, top -15rem left 9rem;
    background-repeat: no-repeat, no-repeat;
    background-size: 75% 100%, 130% 99%;
    width: 100%;
    height: 146%;
  }
  .easybank,
  .lastArticles {
    max-width: 1440px;
    margin: auto;
  }
  .easybank {
    padding: 3rem 0;
  }
  .first-easy .heading1,
  .lastArticles .heading1 {
    font-weight: 400;
    font-size: 2.6rem;
  }
  .first-easy .para1 {
    font-size: 1.3rem;
    margin: 1rem 0;
  }
  .next-line {
    display: block;
  }
  .qualities {
    max-width: 1440px;
    display: flex;
    margin-top: 2.5rem;
  }
  .qualities .details,
  .article-info .news {
    flex-basis: 25%;
    margin: 0.9rem;
  }
  .qualities .details {
    margin: 0.8rem 3rem 4rem 0;
  }
  .article-info .news {
    box-shadow: 0rem 0rem 0.3rem rgb(235, 231, 231);
  }
  .qualities .details:first-child,
  .article-info .news:first-child {
    margin-left: 0;
  }
  .qualities .details:last-child,
  .article-info .news:last-child {
    margin-right: 0;
  }
  .qualities .details .small-heading {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .qualities .details .details-para {
    font-size: 1.2rem;
  }
  .qualities .details .image,
  .qualities .details .small-heading {
    margin: 0.5rem 0 2rem 0;
  }
  .full-width-easybank {
    background: var(--neutral-light-grayish-blue);
  }
  .full-width-articles {
    background: var(--neutral-very-light-gray);
  }
  .article-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--neutral-very-light-gray);
  }
  .lastArticles {
    padding: 4.5rem 0 1rem 0;
  }
  .lastArticles .heading1 {
    margin: 0 0 1rem 0;
  }
  .article-info .news {
    display: flex;
    flex-direction: column;
    border-radius: 0.6rem;
    overflow: hidden;

    background: var(--neutral-white);
    margin-bottom: 5rem;
  }
  .article-info .news .image-container img {
    width: 100%;
    height: 16rem;
  }
  .article-text {
    width: 93%;
    margin: 0 auto;
  }
  .article-owner {
    margin: 2rem 0 1rem 0;
  }
  .article-sideHeading {
    font-size: 1.5rem;
    transition: all 0.3s;
  }
  .article-sideHeading:hover {
    color: var(--primary-bright-cyan);
    cursor: pointer;
  }
  .article-matter {
    font-size: 1.2rem;
    margin: 1rem 0 2rem 0;
  }
  .fullwidth {
    background: var(--primary-dark-blue);
    width: 100%;
    padding: 2rem 0;
  }
  .footer {
    max-width: 1440px;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
  }
  .level-one {
    flex-basis: 50%;
    display: flex;
    justify-content: space-between;
  }
  .level-two div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: flex-end;
  }
  .level-two {
    flex-basis: 50%;
  }
  .level-one .second-container {
    display: flex;
  }
  .first-container {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .first-container .img img {
    height: 1.6rem;
    border: 2px solid white img;
    margin: 0.5rem 0 0 0.4rem;
  }
  .first-container .social-media a svg {
    width: 2rem;
    margin-right: 0.8rem;
  }
  .first-container .social-media a svg {
    scale: 1.3;
  }
  .second-container {
    flex-basis: 60%;
    justify-content: space-around;
  }
  .level-one .second-container .link {
    display: flex;
    flex-direction: column;
  }
  .level-one .second-container .link a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: white;
    transition: all 0.4s;
  }
  .grey,
  .details .details-para,
  .article-text .article-matter {
    color: var(--neutral-grayish-blue);
  }
  .first-div-last:hover {
    opacity: 0.8;
    filter: brightness(120%);
  }
  .second-container .link a:hover {
    color: var(--primary-bright-cyan);
  }
  .heading .nav a:hover::after {
    width: 100%;
  }
  .heading .nav a:hover {
    color: black;
  }
  .first-container .social-media a:hover > svg > path {
    transition: all 0.3s;
    fill: var(--primary-bright-cyan);
  }
}
